<a href="https://colab.research.google.com/github/Aparna07-lbt/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Programming_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list=[4,7,0,5,3]
large=list[0]
for i in list:
  if i >large:
    large =i
print(large)

7

In [2]:
list=[9,7,4,5,6]
print(list)
k=int(input("enter the number to search "))
for i in list:
  if i==k:
   print ("element found")
   break
else:
  print("not found")

[9, 7, 4, 5, 6]
enter the number to search 5
element found

In [3]:
list=[5,9,0,6,7]
sum=0
for i in list:
 sum=sum+i
print("sum is " , sum)

sum is  27

In [4]:
list=[6,6,8,0,7,5]
print(list)
newlist=[]
for i in list:
 if i not in newlist:
  newlist.append(i)
print(newlist)

[6, 6, 8, 0, 7, 5]
[6, 8, 0, 7, 5]

In [5]:
def common(list1,list2):
  for i in list1:
    for j in list2:
      if i==j:
        return True
print(common([4,5,6],[9,5,6,8]))
print(common([6,7],[8,9]))

True
None

In [6]:
list1=[10,11,12]
list2=['e','f','g']
list=list1+list2
print(list)

[10, 11, 12, 'e', 'f', 'g']

In [7]:
n=int(input("enter a number "))
fact=0
for i in range(1,n):
 if n%i==0:
  fact=i
if fact>1:
  print("composite number")
elif n==1:
  print("neither composite nor prime")
else:
  print("prime number")

enter a number 8
composite number

In [8]:
X=[[3,9,4],[7,9,3],[1,5,0]]
Y=[[2,16,1],[3,16,8],[8,2,3]]
RESULT=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):
  for j in range(len(X[0])):
    RESULT[i][j]=X[i][j]+Y[i][j]
print(RESULT)

[[5, 25, 5], [10, 25, 11], [9, 7, 3]]

In [9]:
def palindrome(str):
  rev=''.join(reversed(str))
  if str==rev:
    return True
  return False
str=input("enter a word ")
word= palindrome(str)
if (word):
  print("it is palindrome")
else:
 print("it is not palindrome")

enter a word huh
it is palindrome

In [10]:
num=int(input("enter a number "))
for i in range(1,18):
 print(num,"x",i,"=",num*i)

enter a number 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85