<a href="https://colab.research.google.com/github/Aparna07-lbt/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=str(input("enter your name:"))
b=str(input("enter your address"))
c=str(input("enter your telephone number:"))

enter your name:aparna
enter your addressapps 2001
enter your telephone number:9898436320

In [ ]:
print("your name is",name)

your name is aparna

In [ ]:
name="aparna"
print("your name is",name)

your name is aparna

In [ ]:
width=int(input("enter the width "))
height=int(input("enter the height "))
area=width*height
print("the area is",area,"square units")

enter the width 30
enter the height 30
the area is 900 square units

In [ ]:
baselength=int(input("enter the base length of a triangle "))
height=int(input("enter the height of triangle "))
area=((baselength*height)/2)
print("the area of triangle is",area,"squareunits")

enter the base length of a triangle 12
enter the height of triangle 15
the area of triangle is 90.0 squareunits

In [ ]:
radius=(float(input("enter the radius of the circle ")))
area=3.14*radius**2
print("the area of the circle is ",area,"square units")

enter the radius of the circle 7
the area of the circle is  153.86 square units

In [ ]:
str(input("enter your name "))
a=int(input("enter your age "))
print("your name is",name,"and your age is",str(a))

enter your name aparna
enter your age 18
your name is aparna and your age is 18

In [ ]:
x=int(input("enter a number "))
a=x+1;
print("the result is",a)

enter a number 56
the result is 57

In [ ]:
a=str(input("enter your first name "))

enter your first name aparna

In [ ]:
import math
import os
import random
import re
import sys



if __name__=='__main__':
     a=input("enter the first string")

     b=input("enter the second string")
     if a==b:
        print("equal")
     elif a!=b:
        print(" not equal")

enter the first stringsaturday
enter the second stringfriday
 not equal

In [ ]:
a=float(input("enter the number"))
if a>0:
  print("positive")
  if a<0:
    print("negative")
    if a==0:
      print("zero")

enter the number2
positive

In [ ]:
a=float(input("enter the first number "))
b=float(input("enter the second number"))
c=float(input("enter the third number"))
if(a>b) and (a>c):
  print("largest number is",a)
elif(b>a) and (b>c):
  print("largest number is",b)
else:
    print("largest number is",c)

enter the first number 7
enter the second number8
enter the third number9
largest number is 9.0

In [ ]:
number=int(input("enter a number"))
sqrt=number**0.5
print("the square root of",number,"is",sqrt)

enter a number10
the square root of 10 is 3.1622776601683795

In [ ]:
a=float(input("enter the first side"))
b=float(input("enter the second side"))
c=float(input("enter the third side"))
s=a+b+c/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("the area of triangle is",area)

enter the first side10
enter the second side11
enter the third side12
the area of triangle is 331.9036004625439

In [ ]:
celsius=float(input("enter the temperature in celsius "))
fahrenheit=(celsius*108)+32
print(celsius,"c is ewual to",fahrenheit,"f")

enter the temperature in celsius 38
38.0 c is ewual to 4136.0 f